@import './../../colors.css'; 
#recent-projects{
  > #project-list{
    .recent-project{
      margin-bottom: 10px;
      border-left-style: solid;
      border-left-width: 5px;
      border-radius: 3px;
      .project-title{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .project-name{
        min-height: 0px;
        padding: 0px;
      }
    }

    .recent-project.FAILURE{
      border-left-color: var(--failure);
      .project-name{
        color: var(--failure);
      }
    }
    .recent-project.SUCCESS{
      border-left-color: var(--success);
      .project-name {
        color: var(--success);
      }
    }

    .recent-project.IN_PROGRESS{
      border-left-color: var(--in_progress);
      .project-name {
        color: var(--in_progress);
      }
    }

    .recent-project.ABORTED{
      border-left-color: var(--aborted);
      .project-name {
        color: var(--aborted);
      }
    }

  }
}
