target/
.module-cache
node_modules
bower_components
work/
.idea
.DS_Store
.project
.settings
.classpath
.vagrant
/bin
_site
*.iws
*.ipr
*.iml
npm-debug.log
src/main/webapp/js/*dotci.js
src/main/webapp/js/*.svg
src/main/webapp/js/*dotci.js.map
_book
src/main/webapp/webcomponent-imports-vulcanized.html
elm-stuff
