@import '~lesshat/build/lesshat.less';
@success:   #038035;
@success-background:   #fafffa;


@failure:   #c00;
@failure-background: snow;

@aborted:   #666;
@aborted-background: #dimgrey;


@in-progress:   #E7D100;
@in-progress-background:#fffcf4;
.link-no-decoration{
  text-decoration: none;
  &:visited{
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
}

.build-row(@color, @background-color){
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: @color;
  background-color: @background-color;
  .box-shadow(0 1px 10px rgba(20,20,20,0.5));
  .link-no-decoration();
  .display(flex);
  .flex-direction(row);
}
.build-row-SUCCESS{
  .build-row(@success,@success-background);
}

.build-row-FAILURE{
  .build-row(@failure,@failure-background);
}

.build-row-ABORTED {
  .build-row(@aborted,@aborted-background);
}

.build-row-IN_PROGRESS {
  .build-row(@in-progress,@in-progress-background);
}
.build-duration{
  .display(flex);
  .flex-direction(column);
  justify-content: flex-start;
  text-align: start;
  margin-left: auto !important;
}
.commit-info{
  .display(flex);
  .flex-direction(column);
  margin-left: 10px;
  justify-content: flex-start;
  text-align: start;
}
