@import './../../colors.css';
.build-row-small{
  margin-left: 10px;
}

.build-row-small.QUEUED{
  color: var(--queued);
}

.build-row-small.FAILURE{
  color: var(--failure);
}

.build-row-small.SUCCESS{
  color: var(--success);
}

.build-row-small.IN_PROGRESS{
  color: var(--in_progress);
}

.build-row-small.ABORTED{
  color: var(--aborted);
}
