.pipeline-build-view{
  display: flex;
  flex-direction: column;
  > *{
    margin-top: 10px;
  }
}

.pipeline-steps  *{
  /* background-color: #FAFAF8; */
  /* font-size: 16px; */
  /* color: #A6ADAD; */
}
.pipeline-step{
  box-shadow-top: 0px !important;
  padding-top: 0px !important;
  .content {
  width: 100%;
  }
}

