.pipeline-build-view{
  display: flex;
  flex-direction: column;
  > *{
    margin-top: 20px;
  }
}

.pipeline-build  .commit{
  display: flex;
  justify-content: center;
  padding-top: 1em;
  > * {
    display: inline;
    margin-left: 1em;
  }
  font-size: 16px;
  color: #A6ADAD;
  border-bottom: 5px black;
}


.pipeline-steps{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:  center;
  align-content: center;
  align-items: center;
}

