.pipeline-build-view{
  display: flex;
  flex-direction: column;
  > *{
    margin-top: 20px;
  }
}

.pipeline-steps{
  box-shadow: 0px 0px 0px 1px #d4d4d5 !important;
}
.pipeline-steps  .commit{
  display: flex;
  justify-content: center;
  padding-top: 1em;
  > * {
    display: inline;
    margin-left: 1em;
  }
  font-size: 16px;
  color: #A6ADAD;
  border-bottom: 5px black;
}
.pipeline-step{
  box-shadow: 0px 0px 0px 0px #d4d4d5 !important;
  .content {
    width: 100%;
  }
}
.pipeline-step:after{
  border-bottom: 2px solid #27292B !important;
  border-right: 2px solid #27292B !important;
}  

