@import "./flex.less";
@import "./css/reset.css";
@import "./css/site.css";
@import "./css/button.css";
@import "./css/menu.css";
@import "./css/label.css";
@import "./css/segment.css";
@import "./css/divider.css";
@import "./css/image.css";
@import "./css/dropdown.css";
@import "./css/input.css";
@import "./css/breadcrumb.css";
body{
background: white !important;
}
.app{
  .flex-row;
  padding: 10px;
}
.job{
  flex-basis: 79%;
  max-width: 80%;
  margin-left: 1%;
}
.recent-projects{
  flex-basis: 20%;
  max-width: 20%;
}
