.align-center{
  align-items: center;
  justify-content: center;
  text-align: center;
}
a{
  text-decoration: none;
  color: #212121;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:active{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.icon-text{
  margin-right: 5px;
}
