<?xml version='1.0' encoding='UTF-8'?>
<com.groupon.jenkins.dynamic.organizationcontainer.OrganizationContainer plugin="DotCi@2.5.4">
  <id>
    <__time>1421890003</__time>
    <__machine>472255043</__machine>
    <__inc>1892052286</__inc>
    <__new>true</__new>
  </id>
  <views>
    <com.groupon.jenkins.dynamic.organizationcontainer.AllListView>
      <owner class="com.groupon.jenkins.dynamic.organizationcontainer.OrganizationContainer" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <organizationContainer reference="../../.."/>
    </com.groupon.jenkins.dynamic.organizationcontainer.AllListView>
  </views>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <primaryView>All</primaryView>
</com.groupon.jenkins.dynamic.organizationcontainer.OrganizationContainer>