.nav-tabs > li .close {
 margin: -2px 0 0 10px;
 font-size: 18px;
}
.with-space{
 margin-right:4px;
}

.list-group-item.build-ABORTED{
 /*background-color: dimgrey;*/
}
.list-group-item.build-SUCCESS{
 background-color: #fafffa;
}

.list-group-item.build-FAILURE{
 background-color:snow ;
}

.list-group-item.build-IN_PROGRESS{
 background-color: #fffcf4 ;
}

.fa-circle-o-notch{
 color:#E7D100 ;
}
.fa-check {
 color: #038035;
}
.fa-times {
 color:#c00;
}
.fa-ban{
 color:#666;
}
.table-borderless td,
.table-borderless th{
 border: 0 !important
}

.spacer {
 margin-top: 40px;
}

.last-build-status.red {
 color:#c00;
}

.last-build-status.blue {
 color: #038035;
}

.last-build-status.yellow {
 color:#E7D100 ;
}
.last-build-status.notbuilt_anime {
 color:#E7D100 ;
}

.last-build-status.aborted {
 color: dimgrey;
 /*color:#E7D100 ;*/
}

.breadcrumb {
 background-color: #222;
 border-color: #080808;
}
