.nav-tabs > li .close {
 margin: -2px 0 0 10px;
 font-size: 18px;
}

tr.ABORTED{
 background-color:lightgrey;
}
tr.SUCCESS{
 background-color: lightgreen;
}

tr.FAILURE{
 background-color:snow ;
}

tr.BUILDING{
 background-color: #fffcf4 ;
}


